/* Wordup CSS */

.wordup-private-key .regular-text {
    font-size:1.5em;
    width:100%;
    max-width:20em;
}

.wordup-wrap .wordup-projects {
    margin-top:1em;
}

button.button-link.delete {
    color:#a00 !important;
}
button.button-link.delete:hover {
    opacity:0.8;
}
